:root {
  --bg-dark: #07080A;
  --bg-light: #ffffff;
  --text-dark: #ffffff;
  --text-light: #000000;
  --active: #16A34A;
  --actived: #159946;
  --card-bg: #08090c;
}

.footer {
  background-color: var(--bg-dark);
  text-align: center;
  padding: 20px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #ccc;
}

.light-mode .footer {
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.light-mode .fa-heart:hover {
  color: red;
  cursor: pointer;
}

.footer hr {
  border: none;
  border-top: 1px solid #333;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.8rem;
    padding: 15px 5px;
  }
}