:root {
    --bg-dark: #07080A;
    --bg-light: #ffffff;
    --text-dark: #ffffff;
    --text-light: #000000;
    --active: #16A34A;
    --actived: #159946;
    --card-bg: #08090c;
    --shadow-light: rgba(255, 255, 255, 0.2);
    --shadow-dark: rgba(0, 0, 0, 0.2);
}

.skills-section {
    margin-top: 100px;
    text-align: center;
}

.skills-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--text-dark);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: auto;
}

.skill-box {
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #333;
    text-align: left;
    transition: all 0.2s;
}

.skill-box:hover {
    transform: translateY(-5px);
    border: 1px solid var(--active);
    box-shadow: 0 8px 24px var(--active);
}

.skill-box h3 {
    color: var(--active);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.skill-box ul {
    list-style: none;
    padding-left: 0;
}

.skill-box li {
    margin-bottom: 0.5rem;
    color: var(--text-dark);
    font-size: 0.95rem;
}

.light-mode .skill-box li {
    color: var(--text-light);
}

.light-mode .skill-box {
    background-color: var(--bg-light);
    color: var(--text-light);
    border: 1px solid var(--text-light);
}

.light-mode h2 {
    color: var(--text-light);
}

.light-mode .skill-box:hover {
    box-shadow: 0 8px 24px var(--shadow-dark);
    transform: translateY(-5px);
    border: 1px solid #000;
}